<h2 class="cc-FieldHeading">Problem solving</h2>

<fieldset class="cc-FieldSet">
  <legend class="cc-FieldSet-legend">Scoping</legend>
  <dl class="cc-Fields">

    <label>
      <dt>Scoped requirements</dt>
      <dd><input class="cc-Input" name="scopedReqs" type="number" min="1" max="4" step="1"></dd>
    </label>

    <label>
      <dt>Translates real-world to CS</dt>
      <dd><input class="cc-Input" name="realWorldTranslation" type="number" min="1" max="4" step="1"></dd>
    </label>

  </dl>
</fieldset>

<fieldset class="cc-FieldSet">
  <legend class="cc-FieldSet-legend">Solution</legend>
  <dl class="cc-Fields">

    <label>
      <dt>Planned a working solution</dt>
      <dd><input class="cc-Input" name="solution" type="number" min="1" max="4" step="1"></dd>
    </label>

    <label>
      <dt>Can discuss performance</dt>
      <dd><input class="cc-Input" name="performance" type="number" min="1" max="4" step="1"></dd>
    </label>

    <label>
      <dt>Can discuss optimizations</dt>
      <dd><input class="cc-Input" name="optimized" type="number" min="1" max="4" step="1"></dd>
    </label>

  </dl>
</fieldset>


<h2 class="cc-FieldHeading">Code</h2>

<fieldset class="cc-FieldSet">
  <legend class="cc-FieldSet-legend">Output</legend>
  <dl class="cc-Fields">

    <label>
      <dt>Able to code working solution</dt>
      <dd><input class="cc-Input" name="codedSOlution" type="number" min="1" max="4" step="1"></dd>
    </label>

    <label>
      <dt>Code is readable and maintainable</dt>
      <dd><input class="cc-Input" name="elegance" type="number" min="1" max="4" step="1"></dd>
    </label>

    <label>
      <dt>Knows the language they're using</dt>
      <dd><input class="cc-Input" name="languageKnowledge" type="number" min="1" max="4" step="1"></dd>
    </label>

  </dl>
</fieldset>

<fieldset class="cc-FieldSet">
  <legend class="cc-FieldSet-legend">Testing</legend>
  <dl class="cc-Fields">

    <label>
      <dt>Tested/proved solution</dt>
      <dd><input class="cc-Input" name="testing" type="number" min="1" max="4" step="1"></dd>
    </label>

  </dl>
</fieldset>


<h2 class="cc-FieldHeading">Communication</h2>

<fieldset class="cc-FieldSet">
  {{!-- <legend class="cc-FieldSet-legend">Communication</legend> --}}
  <dl class="cc-Fields">

    <label>
      <dt>Shared thought process clearly</dt>
      <dd><input class="cc-Input" name="sharedThoughtProcess" type="number" min="1" max="4" step="1"></dd>
    </label>

    <label>
      <dt>Took feedback well</dt>
      <dd><input class="cc-Input" name="feedback" type="number" min="1" max="4" step="1"></dd>
    </label>

  </dl>
</fieldset>

