<h2 class="cc-FieldHeading">Experience</h2>

<fieldset class="cc-FieldSet">
  <legend class="cc-FieldSet-legend">Technical Sophistication</legend>
  <dl class="cc-Fields">

    <label>
      <dt>Worked on challenging project</dt>
      <dd><input class="cc-Input" name="projectChallenging" type="number" min="1" max="4" step="1"></dd>
    </label>

    <label>
      <dt>Contributed to project development</dt>
      <dd><input class="cc-Input" name="projectContribution" type="number" min="1" max="4" step="1"></dd>
    </label>

    <label>
      <dt>Has deep understanding of project</dt>
      <dd><input class="cc-Input" name="projectUnderstanding" type="number" min="1" max="4" step="1"></dd>
    </label>

  </dl>
</fieldset>

<fieldset class="cc-FieldSet">
  <legend class="cc-FieldSet-legend">Teamwork</legend>
  <dl class="cc-Fields">

    <label>
      <dt>Understands how to work on a team</dt>
      <dd><input class="cc-Input" name="teamwork" type="number" min="1" max="4" step="1"></dd>
    </label>

  </dl>
</fieldset>

<fieldset class="cc-FieldSet">
  <legend class="cc-FieldSet-legend">Initative</legend>
  <dl class="cc-Fields">

    <label>
      <dt>Has pursued self-learning/improvement</dt>
      <dd><input class="cc-Input" name="selfLearning" type="number" min="1" max="4" step="1"></dd>
    </label>

  </dl>
</fieldset>

<fieldset class="cc-FieldSet">
  <legend class="cc-FieldSet-legend">Communication</legend>
  <dl class="cc-Fields">

    <label>
      <dt>Shared thought process clearly</dt>
      <dd><input class="cc-Input" name="communication" type="number" min="1" max="4" step="1"></dd>
    </label>

  </dl>
</fieldset>

